.Cabeçalho{
    background-color: black;
    width: auto;
    padding: 5%;
    background-image: url(logo.webp);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.cabeçalho2{
    background-color: black;
    width: auto;
    padding: 5%;
    background-image: url(logo.webp);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}


